<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .editform{
            text-align:center;
        }
        label{
            font-weight: bold;
            text-align: left;
        }
        input{
            height: 1.5rem;
            margin-bottom: 0.5rem;
        }
    </style>
</head>
<body>
    <h2 style="text-align: center;">Student's Edit (<%=studentsList.studentName %>)</h2>

   
    <form  class="editform" action="/update/<%= studentsList._id %>" method="post">
        
       

     <label for="fname">Student Name:</label><br>
     <input type="text" id="fname" name="studentName" value="<%=studentsList.studentName%>"><br>
     <label for="lname">Father’s Name:</label><br>
     <input type="text" id="lname" name="fatherName" value="<%=studentsList.fatherName%>"><br>
     <label for="fname">DOB:</label><br>
     <input type="text" id="fname" name="dob" value="<%=studentsList.dob%>"><br>
     <label for="lname">Address:</label><br>
     <input type="text" id="lname" name="address" value="<%=studentsList.address%>"><br>
     <label for="fname">City:</label><br>
     <input type="text" id="fname" name="city" value="<%=studentsList.city%>"><br>
     <label for="lname">State:</label><br>
     <input type="text" id="lname" name="state" value="<%=studentsList.state%>"><br>
     <label for="fname">Pin:</label><br>
     <input type="text" id="fname" name="pin" value="<%=studentsList.pin%>"><br>
     <label for="lname">Phone No:</label><br>
     <input type="text" id="lname" name="phoneNo" value="<%=studentsList.phoneNo%>"><br>
     <label for="fname">Email:</label><br>
     <input type="text" id="fname" name="email" value="<%=studentsList.email%>"><br>
     <label for="lname">Class:</label><br>
     <input type="text" id="fname" name="classs" value="<%=studentsList.classs%>"><br>
     <label for="lname">Marks %:</label><br>
     <input type="text" id="fname" name="marks" value="<%=studentsList.marks%>"><br>
     <br>
    <button type="submit" name="button">Update</button>
    
    </form> 
</body>
</html>