<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo_Application</title>
    <style>
.Enroll_btn{
    border: 5px solid black;
    height: 3rem;
    width: 10rem;
}
.New_stu_btn{
    float: right;
    margin-right: 10rem;
    margin-top: 5rem;
    height: 2rem;
    width: 10rem;
}
.table{
    display: block;
   margin: auto;
 margin-top:  10rem;
    width: 75%;
    height: 15rem;
  
}

.table{
    display: block;
   margin: auto;
 margin-top:  10rem;
    width: 75%;
    height: 15rem;
  
}
.thead{
   height: 1.5rem
}

tr > * + * {
  padding-left: 4em;
}

 </style>
</head>
<body>
    <div>
    <button class="Enroll_btn">Enrollment App</button>
</div>
<button class="New_stu_btn" onclick="openModal()">New Student</button>

<dialog id="dialog">
    <h2>Student's Details</h2>

<form  class="" action="/" method="post">
     
  <label for="fname">Student Name:</label><br>
  <input type="text" id="fname" name="studentName" value=""><br>
  <label for="lname">Father’s Name:</label><br>
  <input type="text" id="lname" name="fatherName" value=""><br>
  <label for="fname">DOB:</label><br>
  <input type="text" id="fname" name="dob" value=""><br>
  <label for="lname">Address:</label><br>
  <input type="text" id="lname" name="address" value=""><br>
  <label for="fname">City:</label><br>
  <input type="text" id="fname" name="city" value=""><br>
  <label for="lname">State:</label><br>
  <input type="text" id="lname" name="state" value=""><br>
  <label for="fname">Pin:</label><br>
  <input type="text" id="fname" name="pin" value=""><br>
  <label for="lname">Phone No:</label><br>
  <input type="text" id="lname" name="phoneNo" value=""><br>
  <label for="fname">Email:</label><br>
  <input type="text" id="fname" name="email" value=""><br>
  <label for="lname">Class:</label><br>
  <input type="text" id="fname" name="classs" value=""><br>
  <label for="lname">Marks %:</label><br>
  <input type="text" id="fname" name="marks" value=""><br>
  <br>
<button type="submit" name="button">Add</button>
 
</form> 

</dialog>

<dialog id="dialogEdit">
   <h2>Student's Details</h2>

   
<form  class="" action="/u/:1" method="put">
    
 <label for="fname">Student Name:</label><br>
 <input type="text" id="fname" name="studentName" value=""><br>
 <label for="lname">Father’s Name:</label><br>
 <input type="text" id="lname" name="fatherName" value=""><br>
 <label for="fname">DOB:</label><br>
 <input type="text" id="fname" name="dob" value=""><br>
 <label for="lname">Address:</label><br>
 <input type="text" id="lname" name="address" value=""><br>
 <label for="fname">City:</label><br>
 <input type="text" id="fname" name="city" value=""><br>
 <label for="lname">State:</label><br>
 <input type="text" id="lname" name="state" value=""><br>
 <label for="fname">Pin:</label><br>
 <input type="text" id="fname" name="pin" value=""><br>
 <label for="lname">Phone No:</label><br>
 <input type="text" id="lname" name="phoneNo" value=""><br>
 <label for="fname">Email:</label><br>
 <input type="text" id="fname" name="email" value=""><br>
 <label for="lname">Class:</label><br>
 <input type="text" id="fname" name="classs" value=""><br>
 <label for="lname">Marks %:</label><br>
 <input type="text" id="fname" name="marks" value=""><br>
 <br>
<button type="submit" name="button">Save</button>

</form> 

</dialog>

<div>
    <div class="table" style="border: 1px solid black">
        <div  class="thead" style="border: 1px solid black " >
        <table>
          <thead>
                    <tr>
                      <th>S No</th>
                      <th>Student name</th>
                      <th>Email</th>
                      <th>phone</th>
                      <th>Class</th>
                      <th>Marks%</th>
                      <th>Edit</th>
                    </tr>                   
                  </thead>
                
                  

                     <% for (var i = 0;i<newListItems.length;i++){ %>
                        <tr>
                           <td><%= i+1 %></td>
                        <td onclick="openModal()"><%= newListItems[i].studentName %></td>
                        <td><%= newListItems[i].email %></td>
                        <td><%= newListItems[i].phoneNo %></td>
                        <td><%= newListItems[i].classs %></td>                        
                        <td><%= newListItems[i].marks %></td>
                        <td>
                        <!-- <button id=<%=i%> type="submit" name="button">Edit</button> -->
                        <button id=<%=i%>  onclick="openModalEdit(<%=i+1%>)">Edit</button>
                     </td>
                     </tr>
                     <% } %>
                    
                  
                 
        </table>
        
        </div>
    </div>
</div>
<script>
    var dailog = document.getElementById("dialog"); 
    var dialogEdit = document.getElementById("dialogEdit"); 

function openModal() { 
   // dailog.show(); 
      dailog.showModal();
} 

function openModalEdit(id) { 
   // dailog.show(); 
   console.log('id...... :>> ', id);
   dialogEdit.showModal();
} 

function closeModal() { 
dailog.close(); 
} 
</script>
</body>
</html>