<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Details</title>
    <style>
      
        label{
            font-weight: bold;
            text-align: left;
        }
       
    </style>
</head>
<body>
    <h1>Student Details</h1>
    <form  class="editform" action="/" method="get">
        
        <label>Student Name:</label> "<%=studentsList.studentName%>"<br>
        <label>Father’s Name:</label> "<%=studentsList.fatherName%>"<br>
        <label>DOB:</label> "<%=studentsList.dob%>"<br>
        <label>Address:</label> "<%=studentsList.address%>"<br>
        <label>City:</label> "<%=studentsList.city%>"<br>
        <label>State:</label> "<%=studentsList.state%>"<br>
        <label>Pin:</label> "<%=studentsList.pin%>">"<br>
        <label>Phone No:</label> "<%=studentsList.phoneNo%>"<br>
        <label>Email:</label> "<%=studentsList.email%>"<br>
        <label>Class:</label> "<%=studentsList.classs%>"<br>
        <label>Marks %:</label> "<%=studentsList.marks%>"<br>
        <label>Student Name:</label> "<%=studentsList.studentName%>"<br>
        <button type="close" name="button">CLOSE</button>
       </form> 
       
</body>
</html>